<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Excluir {{ entrada|yesno:"entrada,saida" }}</title>
    <style>
        body {
            margin: 0;
            border: 0;
            width: 100vw;
            height: 100vh;
            background: #cbccfa;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        }

        .cabecalho {
            background-color: #f0f0f6;
            color: #6d6da9;
            padding: 16px 22px;
        }

        .cabecalho h1 {
            margin: 0;
            font-size: 3em;
            font-weight: 100;
        }

        .cabecalho h2 {
            margin: 0;
            font-size: 1.1em;
            font-weight: 100;
        }

        .formulario {
            color: #6d6da9;
            flex-grow: 1;
            padding: 24px 2vw;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .formulario h1 {
            margin: 0;
            margin-bottom: 24px;
            font-size: 2em;
            font-weight: 100;
        }

        .bot {
            background-color: #7a7cf5;
            color: #f0f0f6;
            cursor: pointer;
            padding: 10px 14px;
            border-radius: 15px;
            font-size: 1.1em;
            text-decoration: none;
            border: 0;
        }

        .bot:visited {
            color: #f0f0f6;
        }
    </style>
</head>

<body>
    <div class="cabecalho">
        <h1>Livro Caixa</h1>
        <h2>Humberto Martins Mendonça Duarte — Programação Comercial 2020.1</h2>
    </div>
    <div class="formulario">
        <h1>Excluir {{ entrada|yesno:"entrada,saida" }}:</h1>
        <form action="/livro_caixa/excluir_{{ entrada|yesno:"entrada,saida" }}/{{ object.pk }}/" method="post">
            {% csrf_token %}
            <p>Tem certeza que deseja excluir a {{ entrada|yesno:"entrada,saida" }} "{{ object }}"?</p>
            <input class="bot" type="submit" value="Confirmar" />
        </form>
    </div>
</body>

</html>