<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Livro Caixa | Histórico Completo</title>
    <style>
        body {
            margin: 0;
            border: 0;
            width: 100vw;
            height: 100vh;
            background: #cbccfa;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        }

        .cabecalho {
            background-color: #f0f0f6;
            color: #6d6da9;
            padding: 16px 22px;
        }

        .cabecalho h1 {
            margin: 0;
            font-size: 3em;
            font-weight: 100;
        }

        .cabecalho h2 {
            margin: 0;
            font-size: 1.1em;
            font-weight: 100;
        }

        .lista {
            flex-grow: 1;
            padding: 24px 2vw;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .lista table {
            margin-top: 24px;
            background-color: #f0f0f6;
            box-sizing: border-box;
            width: 96vw;
            border-radius: 20px;
            border-collapse: collapse;
        }

        .lista th {
            background-color: #a1a1c8;
            color: #f0f0f6;
            padding: 6px 0;
            font-size: 1.2em;
            font-weight: 100;
            border-left: 2px solid #d6d6e7;
            border-right: 2px solid #d6d6e7;
        }

        .lista th:first-of-type {
            border-top-left-radius: 20px;
            border: 0;
        }

        .lista th:last-of-type {
            border-top-right-radius: 20px;
            border: 0;
        }

        .lista tr:nth-child(2n+0) td {
            background-color: #d6d6e7;
        }

        .lista td {
            font-size: 1.1em;
            padding: 10px 20px;
            border-left: 2px solid #a1a1c8;
            border-right: 2px solid #a1a1c8;
        }

        .lista tr>td:first-child {
            border: 0;
        }

        .lista tr>td:last-child {
            border: 0;
        }

        .lista tr:last-of-type>td:first-child {
            border-bottom-left-radius: 20px;
        }

        .lista tr:last-of-type>td:last-child {
            border-bottom-right-radius: 20px;
        }

        .bot_col {
            width: 50px;
        }

        .bot_col a {
            color: #7a7cf5;
            text-decoration: none;
        }

        .bot_col a:visited {
            color: #9395ff;
        }

        .bot {
            background-color: #7a7cf5;
            color: #f0f0f6;
            cursor: pointer;
            padding: 10px 14px;
            border-radius: 15px;
            font-size: 1.1em;
            text-decoration: none;
        }

        .bot:visited {
            color: #f0f0f6;
        }

        .e {
            color: #53b946;
        }

        .s {
            color: #e97070;
        }
    </style>
</head>

<body>
    <div class="cabecalho">
        <h1>Livro Caixa</h1>
        <h2>Humberto Martins Mendonça Duarte — Programação Comercial 2020.1</h2>
    </div>
    <div class="lista">
        <a class="bot" href="nova_entrada">Adicionar Entrada</a>
        <a class="bot" href="nova_saida">Adicionar Saida</a>
        <table>
            <tr>
                <th>Data</th>
                <th>Histórico</th>
                <th>Valor</th>
                <th class="bot_col"></th>
                <th class="bot_col"></th>
            </tr>
            {% for item in lista_geral %}
            <tr class={{ item.classe }}>
                <td>{{ item.data|date:"H:i d/m/Y" }}</td>
                <td>{{ item.historico }}</td>
                <td>{{ item.valor }}</td>
                <td class="bot_col">
                    <a href="{{ item.entrada|yesno:"entrada,saida" }}/{{ item.pk }}">Editar</a>
                </td>
                <td class="bot_col">
                    <a href="excluir_{{ item.entrada|yesno:"entrada,saida" }}/{{ item.pk }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>