<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login sistema</title>
    <style>
    html, body {
        margin: 0;
        padding: 0;
        border: 0;
        
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background: rgb(199,137,255);
        background: -moz-linear-gradient(211deg, rgba(199,137,255,1) 0%, rgba(94,94,255,1) 78%);
        background: -webkit-linear-gradient(211deg, rgba(199,137,255,1) 0%, rgba(94,94,255,1) 78%);
        background: linear-gradient(211deg, rgba(199,137,255,1) 0%, rgba(94,94,255,1) 78%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c789ff",endColorstr="#5e5eff",GradientType=1);
        
        font-family: Helvetica, Verdana, sans-serif;
        font-size: 1.1em;
    }
    .caixaLogin {
        background: white;
        padding: 30px 40px;
        border-radius: 30px;
        
        display: flex;
        flex-direction: column;
    }
    .caixaLogin input {
        margin: 8px 0;
    }
    .caixaLogin .button {
        margin-top: 24px;
        background: white;
        color: #5e5eff;
        border: #5e5eff 2px solid;
        border-radius: 15px;
        padding: 5px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
    }
    .caixaLogin .button:hover {
        background: #5e5eff;
        color: white;
    }
    .mensagem {
        margin-top: 24px;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <form class="caixaLogin" action="/" method="POST">
        {% csrf_token %}

        <label>Login</label>
        <input type="text" name="usuario" id="usuario" value="{{ usuario }}" />

        <label>Senha</label>
        <input type="password" name="senha" id="senha" value="{{ senha }}" />

        <input class="button" type="submit" value="Login" />
    </form>
    <div class="mensagem">
        <center>
            {{ mensagem }}
        <center>
    </div>
</body>
</html>
